<form action="/api/employees?_method=PUT" method="post">
  <input type="number" name="emp_no" id="emp_no" />
  <br />
  <input type="text" name="emp_name" id="emp_name" />
  <br />
  <input type="text" name="ssn" id="ssn" />
  <br />
  <input type="text" name="final_edu" id="final_edu" />
  <br />
  <input type="date" name="enter_date" id="enter_date" />
  <br />
  <input type="number" name="dept_no" id="dept_no" />
  <br />
  <input type="submit" value="Submit" />
</form>
