<form action="/api/departments" method="post">
  <input type="text" name="dept_name" id="dept_name" />
  <br />
  <input type="number" name="budget" id="budget" />
  <br />
  <input type="submit" value="Submit" />
</form>
